* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  background: #101010;
  margin-left: 0.1rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 10px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 10px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 10px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#cpu,
#language,
#custom-lock,
#custom-power {
  background-color: #101010; 
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 10px 10px 10px 10px;
}

#clock {
  color: #8caaee;
  border-radius: 10px 10px 10px 10px;
  margin-right: 1rem;
}

#bluetooth {
  color: #8caaee;
  border-radius: 10px 10px 10px 10px;
  margin-right: .1rem;
}

#battery {
  border-radius: 10px 10px 10px 10px;
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 10px 10px 10px 10px;
  margin-left: 1rem;
}

#custom-lock {
  border-radius: 10px 10px 10px 10px;
  color: #babbf1;
}

#tray {
  margin-right: 0rem;
  margin-left: 0.2rem;
  border-radius: 10px 10px 10px 10px;
}
